.container{
    display:flex;
    flex-basis: 25%;
    border:2px solid black;
    /* justify-content: center; */
    height:500px;
    /* flex-direction: row-reverse;
    justify-content:flex-end; */
        /* align-items:center;
        flex-wrap:wrap;
        flex-flow:column wrap;*/
} 
.f-items{
    background-color: red;
    border:2px solid black;
    margin:12px;
    height:122px;
    width:122px
}
#item1{
    order:2;
    /* flex-grow:3; */
    flex-shrink:2;
}
